#StatisticsItem{
    >.timeContainer{
        margin:16px 4px;
        >.monthChoose{
            color: #1890ff;
            padding-right: 8px;
        }
    }
    >.countContainer {
        display: flex;
        border: 1px solid #ddd;
        border-radius: 3px;
        border-bottom: none;
        >.count {
            flex: 1 1;
            padding: .7em 0;
            text-align: center;
            font-size: 16px;
            vertical-align: middle;
            &:not(:last-child){
                border-right: 1px solid #ddd;
            }
        }
    }
    >.chartContainer{
        border: 1px solid #ddd;
        text-align: center;
        padding: 16px;
        >svg >g >rect{
            fill: #f4f4f4;
            stroke: #ddd;
            stroke-width: .5;
        }
        >svg >g >circle {
            stroke: rgba(200,40,41,.8);
            fill: #fff;
            stroke-width: 2px;
        }
        >svg >g > path {
            stroke: rgba(200,40,41,.6);
            stroke-width: 2.5px;
            fill: none;
        }
    }
}