#Home {
    max-width: 1000px;
    margin: 0 auto;
    >header {
        padding: 16px 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-bottom: 1px solid #DDD;
        >.User {cursor: pointer;}
    }>main {
        padding: 16px 0; 
        display: flex; 
        justify-content: space-between;
        align-items: flex-start;
    }
    >footer{
        border-top: 1px solid #EEE;
        margin: 2em auto 1em;
        display: flex;
        justify-content: center;
        align-items: center;
        padding:4px 0;
        >span{
            padding-left: 4px;
        }
    }
}