#Index {
    max-width: 1000px;
    margin: 0 auto;
    >header {
        padding: 16px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-bottom: 1px solid #DDD;
        >.User {
            cursor: pointer;
        }
    }
}