#Todos{
    padding: 16px;
    border: solid 1px #DDD;
    border-radius: 4px;
    width: calc(50% - 8px);
    box-shadow: 0 2px 0 rgba(225,225,225,.2);
    background: #fff;
    >.todoLists{
        margin-top: 16px;
        >.empty{
               margin: 40px;
               display: flex;
               justify-content: center;
               align-items: center;
            >span{
               font-size: 64px;
               color: #ddd;
            }
        }
    }
}